<div class="follow">
  <strong id="following" class="stat">
    <%= @user.following.count %>
  </strong>
  following
</div>
<div class="follow">
  <strong id="followers" class="stat">
    <%= @user.followers.count %>
  </strong>
  followers
</div>
